In [2]:
import pandas as pd
# Load the data
df = pd.read_csv('data/61111-0003_F.csv', sep=';', encoding='ISO-8859-1', skiprows=7,names=['consumption_code', 'consumption_label', '2019', '2020', '2021', '2022', '2023'])

In [3]:
df.head()

,consumption_code,consumption_label,2019,2020,2021,2022,2023
0,CC13-01,Food and non-alcoholic beverages,97.9,100.0,103.1,116.0,130.3
1,CC13-011,Food,97.8,100.0,103.1,116.9,131.4
2,CC13-0111,Bread and cereals,99.2,100.0,103.3,116.8,135.9
3,CC13-01111,"Rice, including rice preparations",98.7,100.0,102.6,115.7,135.5
4,CC13-01112,Flour and other cereals,100.2,100.0,104.1,134.2,157.6

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 444 entries, 0 to 443
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   consumption_code   444 non-null    object
 1   consumption_label  441 non-null    object
 2   2019               441 non-null    object
 3   2020               441 non-null    object
 4   2021               441 non-null    object
 5   2022               441 non-null    object
 6   2023               441 non-null    object
dtypes: object(7)
memory usage: 24.4+ KB